﻿@model IEnumerable<MVCDemo3.Models.Idiots>

    @{
    ViewBag.Title = "Show List";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div>
        <h1>A simple list will be displayed on this page</h1>
    </div>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Brand</th>

        </tr>
    </table>
    <div>
        @foreach (var item in Model)
        {



        <table style="width:100%">
           
            <tr>
                <td>@item.name</td>
                <td>@item.brand</td>
            </tr>
            </table>




         
            }
    </div>
